$blue500: #2196F3;
$blue100: #BBDEFB;
$orange500: #FF9800;
$orange100: #FFE0B2;

body {
  margin: 0;
  header {
    md-autocomplete.spellRef {
      min-width: 250px;
    }
    md-autocomplete.itemRef {
      min-width: 250px;
      margin-right: 10px;
    }
  }
  div.ui-sortable {
    padding: 0 0 80px 0;
    md-card {
      min-width: 280px;
      flex: 1;
      &.monster {
        md-toolbar {
          background: $orange500;
        }
        h3 {
          background: $orange100;
        }
      }
      &.player {
        md-toolbar {
          background: $blue500;
        }
        h3 {
          background: $blue100;
        }
      }
      md-toolbar.handle:hover {
        cursor: move;
      }
      md-card-content {
        padding: 0;
        section {
          box-sizing: border-box;
          h3 {
            margin: 0;
            padding: 5px;
            &:hover {
              cursor: pointer;
            }
          }
          div.content {
            padding: 5px;
            h4 {
              width: 100% !important;
            }
          }
          &.info {
            input.race {
              width: 120px;
            }
            input.class {
              width: 100px;
            }
            input.background {
              width: 120px;
            }
            input.alignment {
              width: 50px;
            }
            input.size {
              width: 100px;
            }
          }
          &.combat {
            div.health {
              input.curHP {
                width: 50px;
              }
              input.maxHP {
                width: 50px;
              }
              input.hitDice {
                width: 100px;
              }
              input.ac {
                width: 50px;
              }
            }
            div.spellcasting {
              input.spellcastingAbility {
                width: 130px;
                text-transform: uppercase;
              }
            }
            input.speed {
              width: 50px;
            }
          }
          &.stats {
            input.exp {
              width: 90px;
            }
            input.level {
              width: 50px;
            }
            input.pb {
              width: 50px;
            }
            div.abilities md-input-container {
              input {
                float: none;
                max-width: 42px;
              }
            }
            div.saving-throws {
              input {
                float: none;
                max-width: 42px;
                margin-bottom: 5px;
              }
              md-checkbox {
                margin-bottom: 10px;
              }
            }
            div.skills {
              md-input-container {
                min-width: 120px;
                margin-right: -20px;
                input {
                  float: left;
                  max-width: 35px;
                }
                md-checkbox {
                  margin-top: 4px;
                  margin-left: 5px;
                }
              }
            }
            div.other {
              md-input-container:first-child {
                width: 100%;
              }
            }
          }
          &.inventory {
            md-input-container:first-child {
              width: 100%;
            }
            input.money {
              width: 50px;
            }
          }
          &.spells {
            div.cantrips {
              margin-bottom: 25px;
              md-select {
                min-width: 150px;
                float: left;
              }
            }
            div.spell-slots {
              md-slider-container {
                max-width: 500px;
                padding-right: 5px;
              }
              span {
                max-width:none;
                line-height:24px;
              }
            }
            div.spells-known {
              md-select {
                min-width: 150px;
                float: left;
              }
            }
          }
        }
      }
    }
  }
  md-fab-speed-dial {
    position: fixed;
    bottom: 10px;
    right: 10px;
    md-fab-trigger button {
      //background: $blue500 !important;
    }
    md-fab-actions button.md-mini md-icon {
      width: 80%;
      height: 80%;
    }
  }
}

h3, h4 {
  margin: 10px 0 5px 0;
}

.placeholder {
  background: #fff;
  border: 2px dashed #ddd;
  flex: 1;
}

.uc {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

md-dialog {
  .md-dialog-content {
    padding: 16px;
  }
  md-autocomplete {
    min-width: 300px;
  }
  &.item-dialog, &.spell-dialog {
    .md-dialog-content {
      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.save-dialog {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}


.md-autocomplete-suggestions li {
  line-height: 18px;
  padding-top: 12px;
  span.item-title {
    display: block;
  }
  span.item-sub {
    font-size: 12px;
  }
}

md-input-container {
  margin-bottom: 0;
  vertical-align: initial;
  box-sizing: border-box;
  .md-input, md-select {
    float: none;
  }
  .md-errors-spacer {
    min-height: 10px;
  }
}

.html p {
  display: inline;
}

div.small {
  font-size: 12px;
  padding: 2px;
}

md-toast {
  margin-top: 64px;
  .md-toast-content {
    background: rgba(50,50,50,0.7);
    flex-wrap: wrap;
    height: auto;
    max-width: 304px;
    .md-icon-button {
      position: absolute;
      top: 0;
      right: 0;
    }
    md-input-container {
      label {
        color: #fff !important;
      }
      input {
        border-bottom: 1px solid #fff;
        color: #fff;
        &:focus {
          outline: 0;
        }
      }
    }
  }
}
