<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body ng-app="DNDApp" ng-controller="charactersController" ng-cloak>
  <header>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>DnD Aid</h2>
        <span flex></span>
        <md-autocomplete class="itemRef"
          md-min-length="0"
          md-selected-item="selectedItem"
          md-require-match="true"
          md-selected-item-change="showItem(item)"
          md-search-text="itemSearchText"
          md-items="item in itemSearch(itemSearchText)"
          md-item-text="item.name"
          md-require-match="true"
          placeholder="Item Reference">
          <md-item-template>
            <span class="item-title">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
        <md-autocomplete class="spellRef"
          md-min-length="0"
          md-selected-item="selectedSpell"
          md-require-match="true"
          md-selected-item-change="showSpell(spell)"
          md-search-text="spellSearchText"
          md-items="spell in spellSearch(spellSearchText)"
          md-item-text="spell.name"
          md-require-match="true"
          placeholder="Spell Reference">
          <md-item-template>
            <span class="item-title">{{spell.name}}</span>
            <span class="item-challenge">{{spell.class}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>
    </md-toolbar>
  </header>
  <div ui-sortable="sortableOptions" ng-model="characters" layout="row" layout-wrap>
    <md-card ng-repeat="character in characters track by character.id" ng-controller="characterController" ng-class="type=='monster' ? 'monster' : 'player'">
      <md-toolbar class="handle">
        <div class="md-toolbar-tools">
          <h2>{{char.name || charID}}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="deleteChar(charID, char.name)" aria-label="Delete Character">
            <md-icon md-svg-icon="icons/close.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content ng-switch on="type">
        <div ng-switch-when="player">
          <ng-include src="'/templates/player.html'"></ng-include>
        </div>
        <div ng-switch-when="monster">
          <ng-include src="'/templates/monster.html'"></ng-include>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <md-fab-speed-dial md-direction="up" class="md-scale">
    <md-fab-trigger>
      <md-button class="md-fab" aria-label="Add Character">
        <md-icon md-svg-icon="icons/plus.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button ng-click="addPlayer()" class="md-fab md-raised md-mini" aria-label="Add Player">
        <md-icon md-svg-icon="icons/player.svg"></md-icon>
      </md-button>
      <md-button ng-click="selectMonster()" class="md-fab md-raised md-mini" aria-label="Add Monster">
        <md-icon md-svg-icon="icons/monster.svg"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="node_modules\angular-ui-sortable\dist\sortable.min.js"></script>
  <script src="data/spells.json"></script>
  <script src="data/monsters.json"></script>
  <script src="script.js"></script>
</body>
</html>
