<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="dist/css/main.min.css">
</head>
<body>
  <div id="main">
    <header>
      <div class="super-header">
        &nbsp;
      </div>
      <div class="container row">
        <div class="logo">
          <a href="/"><h1>Vue Application</h1></a>
        </div>
        <div class="header-right">
          <form @submit.prevent="doSearch()">
            <button class="search-icon" @click="searchBtn()"><svg><use xlink:href="sprites.svg#search"></use></svg></button>
            <transition name="search">
              <div class="search-bar" v-show="showSearch">
                <input v-model="search" @input="getSuggestions()" @keyup.down="focusDown()" @keyup.up="focusUp()" ref="search" type="text" placeholder="Search" />
                <ul v-show="suggestions" class="suggestions">
                  <li v-for="(suggestion, index) in suggestions"><button :class="index+1 == focus ? 'hover' : ''" @keyup.down="focusDown()" @keyup.up="focusUp()" @keydown.enter.prevent="addChip()">{{suggestion.o.name}}</button></li>
                </ul>
                <button class="search-close" @click="showSearch = false"><svg><use xlink:href="sprites.svg#close"></use></svg></button>
              </div>
            </transition>
          </form>
          <button class="menu-icon" @click="showMenu = true" @blur="showMenu = false;">
            <svg><use xlink:href="sprites.svg#menu"></use></svg>
          </button>
          <transition name="menu">
            <div v-show="showMenu" class="header-menu">
              <a :href="'data:text/json;charset=utf-8,' + saveData" :download="saveFile"><svg><use xlink:href="sprites.svg#save"></use></svg><span>Export</span></a>
              <input id="importer" ref="uploader" @change="load()" type="file" /><label for="importer"><svg><use xlink:href="sprites.svg#import"></use></svg><span>Import</span></label>
              <button @mousedown="help()"><svg><use xlink:href="sprites.svg#help"></use></svg><span>Help</span></button>
            </div>
          </transition>
        </div>
      </div>
      <div class="container row">
        <ul class="col-xs-12 tabs">
          <li @click="slide = 1" :class="slide == 1 ? 'current' : ''">C</li>
          <li @click="slide = 2" :class="slide == 2 ? 'current' : ''">W</li>
          <li @click="slide = 3" :class="slide == 3 ? 'current' : ''">S</li>
        </ul>
      </div>
    </header>
    <transition-group :name="slideDirection" tag="div">\
      <div v-show="slide == 1" key="1">
        <characters id="characters" :characters="characters"></characters>
      </div>
      <div v-show="slide == 2" key="2">
        <world id="world"></world>
      </div>
      <div v-show="slide == 3" key="3">
        <spellbook id="spellbook"></spellbook>
      </div>
    </transition-group>
    <transition name="fade">
      <div v-if="modal" @click.self="modal = false" class="modal-bg">
        <div class="modal">
          <div class="modal-content">
            <h3>{{search}}</h3>
            <p class="subtitle">{{modal.type}}</p>
            <p>{{modal.desc}}</p>
          </div>
          <div class="modal-footer">
            <button @click="modal = false">Close</button>
          </div>
        </div>
      </div>
    </transition>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="data/classes.json"></script>
  <script src="data/races.json"></script>
  <script src="data/backgrounds.json"></script>
  <script src="data/alignments.json"></script>
  <script src="data/abilities.json"></script>
  <script src="data/skills.json"></script>
  <script src="data/spells.json"></script>
  <script src="data/creatures.json"></script>
  <script src="data/inventory.json"></script>
  <script src="data/definitions.json"></script>
  <script src="lib/vue/dist/vue.js"></script>
  <!-- <script src="//d3js.org/d3.v4.min.js"></script> -->
  <script src="dist/js/main.min.js"></script>
</body>
</html>
