body {
  margin: 0;
}
body header md-toolbar {
  background: #2196F3 !important;
}
body div.ui-sortable {
  padding: 0 0 80px 0;
}
body div.ui-sortable md-card {
  min-width: 280px;
  flex: 1;
}
body div.ui-sortable md-card.monster md-toolbar {
  background: #FF9800;
}
body div.ui-sortable md-card.monster h3 {
  background: #FFE0B2;
}
body div.ui-sortable md-card.player md-toolbar {
  background: #2196F3;
}
body div.ui-sortable md-card.player h3 {
  background: #BBDEFB;
}
body div.ui-sortable md-card md-toolbar.handle:hover {
  cursor: move;
}
body div.ui-sortable md-card md-card-content {
  padding: 0;
}
body div.ui-sortable md-card md-card-content section {
  box-sizing: border-box;
}
body div.ui-sortable md-card md-card-content section h3 {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 5px;
}
body div.ui-sortable md-card md-card-content section div.content {
  padding: 5px;
}
body div.ui-sortable md-card md-card-content section.info input.class {
  width: 100px;
}
body div.ui-sortable md-card md-card-content section.info input.background {
  width: 120px;
}
body div.ui-sortable md-card md-card-content section.info input.race {
  width: 120px;
}
body div.ui-sortable md-card md-card-content section.info input.alignment {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.stats input.exp {
  width: 90px;
}
body div.ui-sortable md-card md-card-content section.stats input.level {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.stats input.pb {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.stats div.abilities md-input-container input {
  float: none;
  max-width: 40px;
}
body div.ui-sortable md-card md-card-content section.stats div.abilities md-input-container div.small {
  font-size: 12px;
  padding: 2px;
}
body div.ui-sortable md-card md-card-content section.stats div.saving-throws:after {
  content: ' ';
  clear: both;
  display: block;
}
body div.ui-sortable md-card md-card-content section.stats div.saving-throws div {
  max-width: 40px;
  float: left;
  padding: 2px;
}
body div.ui-sortable md-card md-card-content section.stats div.saving-throws div label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body div.ui-sortable md-card md-card-content section.stats div.saving-throws div input {
  margin-top: 7px;
  margin-bottom: 3px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
body div.ui-sortable md-card md-card-content section.stats div.skills div {
  float: left;
  margin: 0 20px 15px 0;
}
body div.ui-sortable md-card md-card-content section.stats div.skills div label {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body div.ui-sortable md-card md-card-content section.stats div.skills div md-checkbox {
  margin-bottom: 0;
}
body div.ui-sortable md-card md-card-content section.stats div.skills div input {
  max-width: 40px;
  margin-top: 7px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
body md-fab-speed-dial {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
body md-fab-speed-dial md-fab-trigger button {
  background: #2196F3 !important;
}
body md-fab-speed-dial md-fab-actions button.md-mini md-icon {
  width: 80%;
  height: 80%;
}
h3,
h4 {
  margin: 10px 0 5px 0;
}
.placeholder {
  background: #fff;
  border: 2px dashed #ddd;
  flex: 1;
}
.uc {
  text-transform: uppercase;
}
.cap {
  text-transform: capitalize;
}
md-dialog md-toolbar {
  background: #2196F3 !important;
}
md-dialog md-autocomplete {
  min-width: 300px;
}
.md-autocomplete-suggestions li {
  line-height: 18px;
  padding-top: 12px;
}
.md-autocomplete-suggestions li span.item-title {
  display: block;
}
.md-autocomplete-suggestions li span.item-challenge {
  font-size: 12px;
}
md-input-container {
  margin-bottom: 0;
  vertical-align: initial;
}
md-input-container .md-input,
md-input-container md-select {
  float: none;
}
md-input-container .md-errors-spacer {
  min-height: 10px;
}
