body {
  margin: 0;
  div.sort-container {
    padding-bottom: 80px;
    display: flex;
    md-card {
      min-width: 280px;
      flex: 1;
      md-toolbar.handle:hover {
        cursor: move;
      }
      section {
        padding: 5px;
        box-sizing: border-box;
      }
      section.info {
        input.class {
          width: 100px;
        }
        input.background {
          width: 120px;
        }
        input.race {
          width: 120px;
        }
        input.alignment {
          width: 50px;
        }
      }
      section.stats {
        display: flex;
        input.exp {
          width: 90px;
        }
        input.level {
          width: 50px;
        }
        input.pb {
          width: 50px;
        }
        div.abilities md-input-container {
          input {
            float: none;
            max-width: 40px;
          }
          div.small {
            font-size: 12px;
            padding: 2px;
          }
        }
        div.savingThrows div {
          max-width: 40px;
          padding: 2px;
          float: left;
          padding: 2px;
          label {
            color: rgba(0,0,0,0.54);
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          input {
            margin-top: 7px;
            margin-bottom: 3px;
            width: 100%;
            border: 0;
            border-bottom: 1px solid rgba(0,0,0,0.12);
          }
        }
        div.skills div {
          float: left;
          margin: 0 20px 15px 0;
          label {
            display: block;
            color: rgba(0,0,0,0.54);
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          md-checkbox {
            margin-bottom: 0;
          }
          input {
            max-width: 40px;
            margin-top: 7px;
            border: 0;
            border-bottom: 1px solid rgba(0,0,0,0.12);
          }
        }
      }
    }
  }
  md-fab-speed-dial {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}

h4 {
  margin: 15px 0 5px 0;
}

.placeholder {
  background: #fff;
  border: 2px dashed #ddd;
  flex: 1;
}

md-input-container {
  margin-bottom: 0;
  vertical-align: initial;
  .md-input, md-select {
    float: none;
  }
}
