body {
  margin: 0;
}
body header md-autocomplete.spellRef {
  min-width: 250px;
}
body header md-autocomplete.itemRef {
  min-width: 250px;
  margin-right: 10px;
}
body div.ui-sortable {
  padding: 0 0 80px 0;
}
body div.ui-sortable md-card {
  min-width: 280px;
  flex: 1;
}
body div.ui-sortable md-card.monster md-toolbar {
  background: #FF9800;
}
body div.ui-sortable md-card.monster h3 {
  background: #FFE0B2;
}
body div.ui-sortable md-card.player md-toolbar {
  background: #2196F3;
}
body div.ui-sortable md-card.player h3 {
  background: #BBDEFB;
}
body div.ui-sortable md-card md-toolbar.handle:hover {
  cursor: move;
}
body div.ui-sortable md-card md-card-content {
  padding: 0;
}
body div.ui-sortable md-card md-card-content section {
  box-sizing: border-box;
}
body div.ui-sortable md-card md-card-content section h3 {
  margin: 0;
  padding: 5px;
}
body div.ui-sortable md-card md-card-content section h3:hover {
  cursor: pointer;
}
body div.ui-sortable md-card md-card-content section div.content {
  padding: 5px;
}
body div.ui-sortable md-card md-card-content section.info input.class {
  width: 100px;
}
body div.ui-sortable md-card md-card-content section.info input.background {
  width: 120px;
}
body div.ui-sortable md-card md-card-content section.info input.race {
  width: 120px;
}
body div.ui-sortable md-card md-card-content section.info input.alignment {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.info input.size {
  width: 100px;
}
body div.ui-sortable md-card md-card-content section.combat input.curHP {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.combat input.maxHP {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.combat input.hitDie {
  width: 80px;
}
body div.ui-sortable md-card md-card-content section.combat input.ac {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.combat input.speed {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.stats input.exp {
  width: 90px;
}
body div.ui-sortable md-card md-card-content section.stats input.level {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.stats input.pb {
  width: 50px;
}
body div.ui-sortable md-card md-card-content section.stats div.abilities md-input-container input {
  float: none;
  max-width: 42px;
}
body div.ui-sortable md-card md-card-content section.stats div.abilities md-input-container div.small {
  font-size: 12px;
  padding: 2px;
}
body div.ui-sortable md-card md-card-content section.stats div.saving-throws:after {
  content: ' ';
  clear: both;
  display: block;
}
body div.ui-sortable md-card md-card-content section.stats div.saving-throws div {
  max-width: 40px;
  float: left;
  padding: 2px;
}
body div.ui-sortable md-card md-card-content section.stats div.saving-throws div input {
  margin-bottom: 3px;
  width: 100%;
}
body div.ui-sortable md-card md-card-content section.stats div.skills:after {
  content: ' ';
  clear: both;
  display: block;
}
body div.ui-sortable md-card md-card-content section.stats div.skills div {
  float: left;
  margin: 0 20px 15px 0;
}
body div.ui-sortable md-card md-card-content section.stats div.skills div md-checkbox {
  margin-bottom: 0;
}
body div.ui-sortable md-card md-card-content section.stats div.skills div input {
  max-width: 35px;
}
body div.ui-sortable md-card md-card-content section.inventory md-input-container {
  width: 100%;
}
body md-fab-speed-dial {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
body md-fab-speed-dial md-fab-actions button.md-mini md-icon {
  width: 80%;
  height: 80%;
}
h3,
h4 {
  margin: 10px 0 5px 0;
}
.placeholder {
  background: #fff;
  border: 2px dashed #ddd;
  flex: 1;
}
.uc {
  text-transform: uppercase;
}
.cap {
  text-transform: capitalize;
}
md-dialog div.md-dialog-content {
  padding: 16px;
}
md-dialog div.md-dialog-content *:first-child {
  margin-top: 0;
}
md-dialog div.md-dialog-content *:last-child {
  margin-bottom: 0;
}
md-dialog md-autocomplete {
  min-width: 300px;
}
.md-autocomplete-suggestions li {
  line-height: 18px;
  padding-top: 12px;
}
.md-autocomplete-suggestions li span.item-title {
  display: block;
}
.md-autocomplete-suggestions li span.item-sub {
  font-size: 12px;
}
md-input-container {
  margin-bottom: 0;
  vertical-align: initial;
  box-sizing: border-box;
}
md-input-container .md-input,
md-input-container md-select {
  float: none;
}
md-input-container .md-errors-spacer {
  min-height: 10px;
}
div.faux label {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.faux input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 7px;
}
div.faux input:focus {
  outline: 0;
}
.html p {
  display: inline;
}
md-toast {
  margin-top: 64px;
}
md-toast div.md-toast-content {
  background: rgba(50, 50, 50, 0.7);
  flex-wrap: wrap;
  height: auto;
  max-width: 304px;
}
md-toast div.md-toast-content .md-icon-button {
  position: absolute;
  top: 0;
  right: 0;
}
md-toast div.md-toast-content md-input-container label {
  color: #fff !important;
}
md-toast div.md-toast-content md-input-container input {
  border-bottom: 1px solid #fff;
  color: #fff;
}
md-toast div.md-toast-content md-input-container input:focus {
  outline: 0;
}
