<md-dialog class="load-dialog" aria-label="Load Game">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Load Game</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close Dialog" ng-click="closeDialog()">
        <md-icon md-svg-icon="icons/close.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form>
      <md-input-container>
        <input id="filez" name="files" type="file" />
      </md-input-container>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button aria-label="Save" ng-click="loadFile()">Load</md-button>
  </md-dialog-actions>
</md-dialog>
