<section class="info">
  <h3>Info</h3>
  <div class="content">
    <md-input-container>
      <label>Name</label>
      <input ng-model="char.name" type="text"/>
    </md-input-container>
    <p style="margin-top: 0;">{{char.size}} {{char.type}}<span ng-show="char.subtype"> ({{char.subtype}})</span>, {{char.alignment}}</p>
  </div>
</section>
<section class="combat">
  <h3>Combat</h3>
  <div class="content">
    <md-input-container>
      <label>HP</label>
      <input class="curHP" ng-model="char.curHP" type="number" min="0" max="{{char.hit_points}}" ng-val=char.hit_points/>
    </md-input-container>
    <span>/</span>
    <md-input-container>
      <label></label>
      <input class="maxHP" ng-model="char.hit_points" type="number" min="1"/>
    </md-input-container>
    <md-input-container>
      <label>Hit Dice</label>
      <input class="hitDice" ng-model="char.hit_dice" type="text" readonly/>
    </md-input-container>
    <md-input-container>
      <label>AC</label>
      <input class="ac" ng-model="char.armor_class" type="number" min="0"/>
    </md-input-container>
    <md-input-container>
      <label>Speed</label>
      <input style="width:320px" class="speed" ng-model="char.speed" type="text" readonly/>
    </md-input-container>
  </div>
</section>
<section class="stats">
  <h3>Stats</h3>
  <div class="content">
    <div class="abilities">
      <md-input-container ng-repeat="ability in abilities">
        <label class="uc">{{ability.abbr}}</label>
        <input ng-model="char.abilities[ability.abbr]" type="number" min="0"/>
        <div class="small">{{char.mods[ability.abbr]}}</div>
      </md-input-container>
    </div>
    <div class="monster-stats">
      <p ng-show="char.saves"><b>Saving Throws</b> <span class="uc" ng-repeat="save in char.saves">{{save.name}} +{{save.val}}{{$last ? '' : ', '}}</span></p>
      <p ng-show="char.skills" class="cap"><b>Skills</b> <span ng-repeat="skill in char.skills"> {{skill.name}} +{{skill.val}}{{$last ? '' : ', '}}</span></p>
      <p ng-show="char.damage_vulnerabilities"><b>Damage Vulnerabilities</b> {{char.damage_vulnerabilities}}</p>
      <p ng-show="char.damage_resistances"><b>Damage Resistances</b> {{char.damage_resistances}}</p>
      <p ng-show="char.damage_immunities"><b>Damage Immunities</b> {{char.damage_immunities}}</p>
      <p ng-show="char.condition_immunities"><b>Condition Immunities</b> {{char.condition_immunities}}</p>
      <p ng-show="char.senses"><b>Senses</b> {{char.senses}}</p>
      <p ng-show="char.languages"><b>Languages</b> {{char.languages}}</p>
      <p><b>Challenge</b> {{char.challenge_rating}}</p>
    </div>
  </div>
</section>
<section ng-show="char.special_abilities" class="special-abilities">
  <h3>Special Abilities</h3>
  <div class="content">
    <p ng-repeat="action in char.special_abilities"><b><i>{{action.name}}:</i></b> <span ng-bind-html=action.desc></span></p>
  </div>
</section>
<section ng-show="char.actions" class="actions">
  <h3>Actions</h3>
  <div class="content">
    <p ng-repeat="action in char.actions"><b><i>{{action.name}}:</i></b> {{action.desc}}</p>
  </div>
</section>
<section ng-show="char.legendary_actions" class="legendary-actions">
  <h3>Legendary Actions</h3>
  <div class="content">
    <p ng-repeat="action in char.legendary_actions"><b><i>{{action.name}}:</i></b> {{action.desc}}</p>
  </div>
</section>
<section ng-show="char.reactions" class="reactions">
  <h3>Reactions</h3>
  <div class="content">
    <p ng-repeat="reaction in char.reactions"><b><i>{{reaction.name}}:</i></b> {{reaction.desc}}</p>
  </div>
</section>
