<section class="info">
  <h3>Info</h3>
  <div class="content">
    <md-input-container>
      <label>Name</label>
      <input ng-model="char.name" type="text"/>
    </md-input-container>
    <md-input-container>
      <label>Race</label>
      <md-select class="race" ng-model="char.race">
        <md-option ng-repeat="race in races" ng-value="race.name">{{race.name}}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Class</label>
      <md-select class="class" ng-model="char.class">
        <md-option ng-repeat="class in classes" ng-value="class.name">{{class.name}}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Sub-Class</label>
      <md-select class="subclass" ng-model="char.subclass">
        <md-option ng-repeat="subclass in char.subclasses" ng-value="subclass">{{subclass}}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Background</label>
      <input class="background" ng-model="char.background" type="text"/>
    </md-input-container>
    <md-input-container>
      <label>Alignment</label>
      <md-select class="alignment" ng-model="char.alignment">
        <md-option value="LG">LG</md-option>
        <md-option value="NG">NG</md-option>
        <md-option value="CG">CG</md-option>
        <md-option value="LN">LN</md-option>
        <md-option value="N">N</md-option>
        <md-option value="CN">CN</md-option>
        <md-option value="LE">LE</md-option>
        <md-option value="NE">NE</md-option>
        <md-option value="CE">CE</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Size</label>
      <input class="size" ng-model="char.size" type="text" readonly/>
    </md-input-container>
  </div>
</section>
<section class="combat">
  <h3>Combat</h3>
  <div class="content">
    <div class="health">
      <h4>Health</h4>
      <md-input-container>
        <label>HP</label>
        <input class="curHP" ng-model="char.curHP" type="number" min="0" max="{{char.maxHP}}"/>
      </md-input-container>
      <span>/</span>
      <md-input-container>
        <label></label>
        <input class="maxHP" ng-model="char.maxHP" type="number" min="1"/>
      </md-input-container>
      <md-input-container>
        <label>Hit Dice</label>
        <input class="hitDice" ng-model="char.hitDice" type="text" readonly/>
      </md-input-container>
      <md-input-container>
        <label>AC</label>
        <input class="ac" ng-model="char.ac" type="number" min="0"/>
      </md-input-container>
    </div>
    <div class="spellcasting" ng-show="char.spellcastingAbility">
      <h4>Spellcasting</h4>
      <md-input-container>
        <label>Spellcasting Ability</label>
        <input class="spellcastingAbility" ng-model="char.spellcastingAbility" type="text" readonly/>
      </md-input-container>
      <md-input-container>
        <label>Spell Attack Mod</label>
        <input class="spellAttackMod" ng-model="char.spellAttackMod" type="number" readonly/>
      </md-input-container>
      <md-input-container>
        <label>Spell Save DC</label>
        <input class="spellSaveDC" ng-model="char.spellSaveDC" type="number" readonly/>
      </md-input-container>
    </div>
    <div class="status">
      <h4>Status</h4>
      <md-input-container>
        <label>Speed</label>
        <input class="speed" value="{{char.speed+' ft.'}}" type="text" readonly/>
      </md-input-container>
      <md-input-container class="inspo">
        <md-checkbox ng-model="char.inspo" aria-label="Inspiration">Inspo</md-checkbox>
      </md-input-container>
    </div>
  </div>
</section>
<section class="stats">
  <h3>Stats</h3>
  <div class="content">
    <div class="leveling">
      <h4>Leveling</h4>
      <md-input-container>
        <label>EXP</label></label>
        <input class="exp" ng-model="char.exp" type="number" min="0"/>
      </md-input-container>
      <md-input-container>
        <label>Level</label>
        <input class="level" ng-model="char.level" type="number" min="0" readonly/>
      </md-input-container>
      <md-input-container>
        <label>PB</label>
        <input class="pb" ng-model="char.pb" type="number" min="0" readonly/>
      </md-input-container>
    </div>
    <div class="abilities">
      <h4>Abilities</h4>
      <md-input-container ng-repeat="ability in abilities">
        <label class="uc">{{ability.abbr}}</label>
        <input ng-model="char.abilities[ability.abbr]" type="number" min="0"/>
        <div class="small">{{char.mods[ability.abbr]}}</div>
      </md-input-container>
    </div>
    <div class="saving-throws">
      <h4>Saving Throws</h4>
      <md-input-container ng-repeat="ability in abilities">
        <label class="uc">{{ability.abbr}}</label>
        <input ng-model="char.saveMods[ability.abbr]" type="number" readonly/>
        <md-checkbox ng-model="char.saveProfs[ability.abbr]" aria-label="{{ability.name}} Saving Throw Proficiency"></md-checkbox>
      </md-input-container>
    </div>
    <div class="skills">
      <h4>Skills</h4>
      <md-input-container ng-repeat="skill in skills">
        <label class="cap">{{skill.name}}</label>
        <input ng-model="char.skillMods[skill.abbr]" type="number" readonly/>
        <md-checkbox ng-model="char.skillProfs[skill.abbr]" aria-label="{{skill.name}} Proficiency"></md-checkbox>
      </md-input-container>
    </div>
    <div class="features">
      <h4>Class Features</h4>
      <p ng-repeat="feature in char.features track by $index">{{feature}}</p>
    </div>
    <div class="other">
      <md-input-container>
        <textarea class="bag" ng-model="char.otherSkills" placeholder="Notes"></textarea>
      </md-input-container>
    </div>
  </div>
</section>
<section class="inventory">
  <h3>Inventory</h3>
  <div class="content">
    <md-input-container>
      <textarea class="bag" ng-model="char.bag" placeholder="Bag of Holding"></textarea>
    </md-input-container>
    <md-input-container>
      <label>PP</label>
      <input class="pp money" ng-model="char.pp" type="number" min="0"/>
    </md-input-container>
    <md-input-container>
      <label>GP</label>
      <input class="gp money" ng-model="char.gp" type="number" min="0"/>
    </md-input-container>
    <md-input-container>
      <label>EP</label>
      <input class="ep money" ng-model="char.ep" type="number" min="0"/>
    </md-input-container>
    <md-input-container>
      <label>SP</label>
      <input class="sp money" ng-model="char.sp" type="number" min="0"/>
    </md-input-container>
    <md-input-container>
      <label>CP</label>
      <input class="cp money" ng-model="char.cp" type="number" min="0"/>
    </md-input-container>
  </div>
</section>
<section class="spells">
  <h3>Spells</h3>
  <div class="content">
    <div class="cantrips" ng-show="char.cantripsKnown">
      <h4>Cantrips</h4>
      <md-input-container ng-repeat="n in numToArray(char.cantripsKnown) track by $index">
        <md-select aria-label="Cantrip" ng-model="char['cantrip'+$index+1]">
          <md-option ng-repeat="spell in spells | filter:{level:'cantrip'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="spell-slots" ng-show="char.spellsKnown">
      <h4>Slots</h4>
      <md-slider-container ng-repeat="n in numToArray(9) track by $index" ng-show="char['level'+($index+1)+'Slots']">
        <span>Level {{$index+1}} Slots ({{char['level'+($index+1)+'Slots']}})</span>
        <md-slider md-discrete ng-model="char['level'+($index+1)+'SlotsRemaining']" step="1" min="0" max="{{char['level'+($index+1)+'Slots']}}" aria-label="Level {{$index+1}} Spell Slots">
      </md-slider-container>
    </div>
    <div class="spells-known" ng-show="char.spellsKnown">
      <h4>Spells Known</h4>
      <!-- <md-input-container>
        <label>Spells Prepared</label>
        <input class="spells-prepared" ng-model="char.spellsPrepared" type="number" min="0" readonly />
      </md-input-container> -->
      <md-input-container ng-repeat="n in numToArray(char.spellsKnown) track by $index">
        <md-select aria-label="Known Spell" ng-model="char['knownSpell'+$index+1]">
          <md-optgroup label="Level 1">
            <md-option ng-repeat="spell in spells | filter:{level:'1st-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Level 2" ng-show="char.level2Slots">
            <md-option ng-repeat="spell in spells | filter:{level:'2nd-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Level 3" ng-show="char.level3Slots">
            <md-option ng-repeat="spell in spells | filter:{level:'3rd-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Level 4" ng-show="char.level4Slots">
            <md-option ng-repeat="spell in spells | filter:{level:'4th-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Level 5" ng-show="char.level5Slots">
            <md-option ng-repeat="spell in spells | filter:{level:'5th-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Level 6" ng-show="char.level6Slots">
            <md-option ng-repeat="spell in spells | filter:{level:'6th-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Level 7" ng-show="char.level7Slots">
            <md-option ng-repeat="spell in spells | filter:{level:'7th-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Level 8" ng-show="char.level8Slots">
            <md-option ng-repeat="spell in spells | filter:{level:'8th-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Level 9" ng-show="char.level9Slots">
            <md-option ng-repeat="spell in spells | filter:{level:'9th-level'} | filter:{class:char.class}" ng-value="spell.name">{{spell.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
  </div>
</section>
