<md-dialog aria-label="Choose Monster" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{selectedSpell.name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon md-svg-icon="icons/close.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <p>{{selectedSpell.level}} {{selectedSpell.school}}</p>
      <p><b>Casting Time:</b> {{selectedSpell.casting_time}}</p>
      <p><b>Range:</b> {{selectedSpell.range}}</p>
      <p><b>Components:</b> {{selectedSpell.components}}</p>
      <p><b>Duration:</b> {{selectedSpell.duration}}</p>
      <p ng-bind-html="selectedSpell.desc"></p>
      <p><b>Higher Levels:</b> <span ng-bind-html="selectedSpell.higher_level"></span></p>
    </div>
  </md-dialog-content>
</md-dialog>
