#character-creator {
  .modal {
    overflow: hidden;
  }
  form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .col-xs-6:first-child {
    border-right: 1px solid #ddd;
  }
  .step-slides {
    background-color: #fff;
    position: relative;
    min-width: 700px;
    height: 440px;
    & > * {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    form {
      width: 100%;
      height: 100%;
    }
  }
  fieldset {
    padding: 0;
    overflow-y: scroll;
    max-height: 222px;
    margin-bottom: 0;
    border: 1px solid #eee;
    input {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      &:checked + label {
        background-color: $secondary;
        color: #fff;
        .creature-name {
          color: #fff;
        }
        .subtitle {
          color: rgba(#fff, 0.6);
        }
      }
    }
    label {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      padding: 4px 8px;
      margin: 0;
      transition: 0.3s ease;
      &:hover {
        background-color: #eee;
      }
      .covered {
        display: none;
        opacity: 0.5;
      }
      &.disabled {
        .covered {
          display: inline;
        }
      }
    }
  }
  .class-label {
    margin-top: 12px;
    display: inline-block;
    margin-bottom: 0;
    & ~ fieldset:not(:last-child) {
      border-bottom: 0;
    }
  }
}
.filter-sort {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  .creature-filter {
    width: auto;
    margin: 0;
  }
  .creature-sort {
    text-align: right;
    select {
      width: auto;
      font-size: rem(14);
    }
  }
}
#creature-selector {
  p {
    margin: 0;
    font-size: rem(14);
  }
}
.selection-results {
  position: relative;
  background-color: #eee;
  padding: 4px 8px;
  margin-bottom: 12px;
  input {
    padding-right: 24px;
    text-overflow: ellipsis;
    margin: 0;
    border: 0;
    font-size: rem(14);
  }
  button {
    background-color: transparent;
    width: 24px;
    height: 24px;
    padding: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    box-shadow: none;
    &:hover {
      svg {
        opacity: 1;
      }
    }
    svg {
      width: 100%;
      height: 100%;
      fill: $text-color;
      display: block;
      opacity: 0.5;
      transition: 0.3s ease;
    }
  }
}
#step-3 {
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.inputs-recos {
  display: inline-flex;
  flex-direction: column;
  margin-top: 40px;
}
.recommendations {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  p {
    margin: 0;
  }
}
.inputs {
  display: inline-flex;
  justify-content: center;
  margin-top: 20px;
  .stat {
    padding: 0 10px 0 20px;
  }
  .subtitle {
    margin-left: -9px;
  }
  .base {
    border-bottom: 0;
  }
  .perk {
    font-size: rem(16);
    color: $text-color;
    margin-left: -9px;
    border-bottom: 1px solid rgba(#000, 0.2);
  }
  .total {
    border-bottom: 0;
    font-size: rem(16);
    color: $text-color;
  }
  .mod {
    font-size: rem(12);
    vertical-align: text-bottom;
  }
  input {
    margin: 0;
    width: 36px;
  }
}
.points-pool {
  display: inline-block;
  text-align: center;
  margin: 20px 0 0 0;
  h4 {
    margin-left: 0;
  }
  span {
    font-size: rem(24);
  }
}
