#main {
  height: 100%;
  header ~ div {
    position: absolute;
    left: 0;
    right: 0;
    min-height: calc(100vh - 120px);
    background-color: #eee;
  }
}

.subtitle {
  color: $text-color-light;
  margin: 0;
  font-size: rem(14);
}

#characters, #world {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: calc(100vh - 120px);
  background-color: #eee;
}

.modal-bg {
  background-color: rgba(#000, 0.5);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $grid-padding*2;
}
.modal {
  @extend %card;
  box-shadow: $shadow-3;
  padding: 0;
  width: auto;
  min-width: 200px;
  max-width: 800px;
  overflow-x: hidden;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  box-shadow: $shadow-0;
  position: relative;
  z-index: 2;
  .step {
    display: flex;
    align-items: center;
    opacity: 0.5;
    pointer-events: none;
    cursor: pointer;
    transition: 0.3s ease;
    &.current {
      opacity: 1;
      .step-icon {
        background-color: $secondary;
      }
    }
    &.complete {
      opacity: 1;
      pointer-events: all;
      .step-icon {
        background-color: $secondary;
      }
    }
  }
  .step-icon {
    border-radius: 100%;
    background-color: rgba($text-color, 0.8);
    width: 24px;
    height: 24px;
    min-width: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: $light;
    transition: 0.3s ease;
    div {
      font-size: rem(12);
    }
    svg {
      width: 100%;
      height: 100%;
      padding: 4px;
      fill: #fff;
    }
  }
  .line {
    height: 1px;
    width: 100%;
    max-width: 100px;
    margin: 0 12px;
    background-color: #ddd;
  }
  h3 {
    margin: 0;
    font-size: rem(14);
    color: $text-color;
  }
}
.modal-content {
  padding: $card-padding;
  *:last-child {
    margin-bottom: 0;
  }
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px 8px 8px 24px;
  button {
    @extend .flat-btn;
    color: $secondary;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &:hover {
      color: $secondary;
    }
  }
  input[type=submit] {
    margin: 0;
    width: auto;
    text-transform: uppercase;
  }
}

#character-creator {
  form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .col-xs-6:first-child {
    border-right: 1px solid #ddd;
  }
  .step-slides {
    background-color: #fff;
    position: relative;
    width: 700px;
    height: 300px;
    & > * {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    form {
      width: 100%;
      height: 100%;
    }
  }
}
#chart {
  width: 300px;
  border: 1px solid #eee;
  .grid {
    fill: none;
    stroke-width: 0.5;
    stroke: #000;
  }
  .bars {
    fill: $secondary;
  }
}
.inputs {
  display: flex;
  justify-content: center;
  .stat {
    padding: 0 10px 0 20px;
  }
  .subtitle {
    margin-left: -9px;
  }
  .base {
    border-bottom: 0;
  }
  .perk {
    font-size: rem(16);
    color: $text-color;
    margin-left: -9px;
    border-bottom: 1px solid rgba(#000, 0.2);
  }
  .total {
    border-bottom: 0;
    font-size: rem(16);
    color: $text-color;
  }
  .mod {
    font-size: rem(12);
    vertical-align: text-bottom;
  }
  input {
    margin: 0;
    width: 36px;
  }
}
.chips {
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    background-color: #ddd;
    padding: 4px 4px 4px 12px;
    border-radius: 24px;
    line-height: rem(24);
    margin: 2px 8px 4px 0;
    display: flex;
    align-items: center;
    cursor: grab;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: #777;
      color: #fff;
    }
    &:active {
      cursor: grabbing;
    }
    button {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      margin-left: 4px;
      box-shadow: none;
      background: none;
      padding: 2px;
      &:hover {
        svg {
          fill: #fff;
        }
      }
      svg {
        width: 100%;
        height: 100%;
        fill: #aaa;
        display: block;
        transition: 0.3s ease;
      }
    }
  }
  input {
    width: 100%;
    max-width: 200px;
  }
  .chip-placeholder {
    background-color: transparent;
    border: 2px dashed #ddd;
    min-height: 32px;
  }
  form {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
  }
  .suggestions {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -$input-margin;
    box-shadow: $shadow-2;
    max-height: 200px;
    overflow-y: scroll;
    button {
      text-align: left;
      padding: 12px 24px;
      width: 100%;
      border-radius: 0;
      background-color: #fff;
      color: $text-color;
      &:hover {
        background-color: #eee;
      }
    }
    .hover {
      background-color: #eee;
    }
  }
}

.slide-right-enter-active, .slide-left-enter-active {
  transition: 0.5s ease;
}
.slide-right-leave-active, .slide-left-leave-active {
  transition: 0.5s ease;
}
.slide-right-enter, .slide-left-leave-to {
  transform: translateX(100%);
}
.slide-right-leave-to, .slide-left-enter {
  transform: translateX(-100%);
}

.fade-enter-active, .fade-leave-active {
  transition: 0.5s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.list-slide-enter-active, .list-slide-leave-active {
  transition: 0.5s ease;
}
.list-slide-enter, .list-slide-leave-to {
  transform: translateX(260px);
}
