#main {
  height: 100%;
  header ~ div {
    position: absolute;
    left: 0;
    right: 0;
    min-height: calc(100vh - 120px);
  }
}

.slides-enter-active {
  transition: 0.3s ease 0.1s;
}
.slides-leave-active {
  transition: 0.3s ease;
}
.slides-enter {
  opacity: 0;
  transform: translateX(100px);
}
.slides-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}

#characters, #world {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  min-height: calc(100vh - 120px);
}

.modal {
  background-color: rgba(#000, 0.5);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-enter-active, .modal-leave-active {
  transition: 0.5s ease;
}
.modal-enter, .modal-leave-to {
  opacity: 0;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
}
