/*
* Generals
*/
* {
  box-sizing: border-box;
  font-family: $text-font;
  line-height: 1.5em;
  background-size: cover;
  background-position: center;
}

body, html {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin: 0 0 $default-margin;
  font-weight: $normal;
  color: $primary;
  a {
    font-family: $heading-font;
  }
}

h1, .h1 {
  font-size: rem(42);
}

h2, .h2 {
  font-size: rem(38);
}

h3, .h3 {
  font-size: rem(20);
}

h4, .h4 {
  font-size: rem(16);
}

h5, .h5 {
  font-size: rem(24);
}

h6, .h6 {
  font-size: rem(18);
}

p, li, div {
  font-size: rem(14);
}

a {
  color: $secondary;
  color: $secondary;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: $secondary-dark;
  }
}

p {
  margin: 0 0 $default-margin;
}

b, strong {
  font-weight: $bold;
}

em, i {
  font-style: italic;
}

small {}

ul {
  list-style: disc;
  margin: 0 0 $default-margin 20px;
}

ol {
  list-style: decimal;
  margin: 0 0 $default-margin 20px;
}

li {
  margin: 0 0 $default-margin;
  ul, ol {
    margin-top: $default-margin;
  }
}

form {
  margin: 0 0 $default-margin;
}

label {
  margin: 0 0 5px;
}

%input {
  width: 100%;
  margin: 0 0 $input-margin;
  border: 0;
  border-bottom: 2px solid rgba(#000, 0.2);
  border-radius: $input-border-radius;
  padding: $input-padding;
  color: $text-color;
  background: none;
  transition: 0.3s;
  &:focus {
    outline: none;
    border-bottom-color: rgba(#000, 0.5);
  }
}

input, select, textarea {
  @extend %input;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
  margin: 4px 10px 0 0;
}

input[type="color"] {
  width: auto;
  min-width: 50px;
  padding: 0;
  border: 1px solid $border-color;
}

input::placeholder, textarea::placeholder {
  color: #ddd;
}

%button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: $input-border-radius;
  background-color: $secondary;
  padding: $input-padding;
  cursor: pointer;
  transition: 0.3s;
  appearance: none;
  &:hover {
    background-color: $secondary-dark;
    color: #fff;
  }
  &:focus {
    outline: none;
  }
}

button, input[type=button], input[type=submit], .btn, .button,  {
  @extend %button;
}

%select {
  border-radius: $input-border-radius;
  cursor: pointer;
  appearance: none;
}

select {
  @extend %select;
}

div.select {
  @extend %select;
  position: relative;
  margin: 0 0 $input-margin;
  span {
    @extend %input;
    display: block;
    cursor: pointer;
    margin: 0;
    padding-right: $input-padding + 20px; // 20px = svg width plus some extra
  }
  svg {
    width: 16px;
    height: 16px;
    fill: $text-color;
    position: absolute;
    right: $input-padding;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  ul {
    @extend %select;
    background-color: #fff;
    list-style: none;
    visibility: hidden;
    display: block;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: $shadow;
    max-height: 200px;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
    li {
      padding: $input-padding;
      margin: 0;
      cursor: pointer;
      transition: 0.3s;
      &.selected {
        background-color: #eee;
      }
      &:hover {
        background-color: #ddd;
      }
    }
  }
  &.open {
    ul {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s, visibility 0s;
    }
  }
}

fieldset {
  border: 1px solid $border-color;
  padding: 10px;
}

[disabled], .disabled {
  pointer-events: none;
  opacity: 0.5;
}

small, .small {
  font-size: 80%;
}

img {
  display: block;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

table {
  width: 100%;
  margin: 0 0 $default-margin;
}

td, th {
  padding: 10px;
}

hr {
  border: 0;
  border-bottom: 1px solid $border-color;
  margin: 0 0 $default-margin;
}

blockquote {
  background-color: #ddd;
  padding: 30px 50px;
  margin: 0 0 $default-margin;
  font-family: $heading-font;
  p:last-child {
    margin: 0;
  }
}

pre {
  word-break: break-word;
  word-wrap: break-word;
}

figure {
  margin: 0 0 $default-margin;
}

figcaption {
  @extend .small;
  padding: 0 10px;
  background-color: #ddd;
}

/*
* Helper Classes
*/
%card {
  background-color: #fff;
  box-shadow: $shadow;
  padding: $card-padding;
  @include media-breakpoint-down(xs) {
    padding: 25px;
  }
  & *:last-child {
    margin-bottom: 0;
  }
}
.card {
  @extend %card;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
video.no-fullscreen {
  &::-webkit-media-controls-fullscreen-button {
    display: none;
  }
}

.clearfix {
  clear: both;
}

.alignright {
  float: right;
  margin: 0 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 0 15px 15px 0;
}

.aligncenter {
  margin: 0 auto $default-margin;
  display: block;
}

.center, .centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.screen-reader-text {
  display: none;
}

.google-map {
  width: 100%;
  display: block;
  .map-canvas {
    min-height: 200px;
    .gm-style-cc {
      display: none;
    }
  }
}
