header {
  background-color: $primary;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .super-header {
    background-color: $primary-dark;
  }
  .row {
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  padding: 0 $grid-padding;
  h1 {
    color: #fff;
    margin: 0;
  }
}
.header-right {
  flex: 1;
  padding: 0 $grid-padding;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  position: relative;
  form {
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
  .search-close {
    width: 32px;
    height: 32px;
    background-color: transparent;
    box-shadow: none;
    svg {
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-color: transparent;
    }
  }
  input {
    margin: 0;
    color: #fff;
    border-bottom: 0;
    &::placeholder {
      opacity: 0.5;
    }
  }
  .menu-icon, .search-icon {
    background-color: transparent;
    box-shadow: none;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    &:hover {
      background-color: rgba(#000, 0.1);
    }
    svg {
      width: 100%;
      height: 100%;
      display: block;
      fill: #fff;
    }
  }
}
.search-bar {
  display: flex;
  border-bottom: 1px solid #fff;
  width: 240px;
  max-width: 100%;
  margin-left: 4px;
  position: relative;
}
.header-menu {
  position: absolute;
  z-index: 100;
  background-color: #fff;
  box-shadow: $shadow-2;
  top: 0;
  width: 140px;
  overflow-x: hidden;
  input {
    display: none;
  }
  a, button, label {
    color: $text-color;
    border-radius: 0;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 8px 16px;
    height: auto;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      background-color: #eee;
    }
    svg {
      width: 24px;
      height: 24px;
      min-width: 24px;
      margin-right: 16px;
      fill: $text-color;
    }
  }
}

.search-enter-active {
  transition: 0.3s ease;
}
.search-leave-active {
  transition: 0.3s ease;
  .search-close {
    transition: 0.2s ease;
  }
}
.search-enter, .search-leave-to {
  width: 0px;
  opacity: 0;
  .search-close {
    opacity: 0;
  }
}
.tabs {
  list-style: none;
  display: flex;
  margin: 0;
  li {
    margin: 0;
    padding: 10px 20px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    color: rgba(#fff, 0.5);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    &:hover {
      color: #fff;
    }
    &.current {
      color: #fff;
      border-bottom-color: #fff;
    }
  }
}
