#spellbook {
  display: flex;
  .container {
    align-items: flex-start;
  }
}
.spells {
  padding-top: $grid-padding * 2;
  .card {
    margin-bottom: $grid-padding * 2;
    .title {
      margin-bottom: 0;
    }
    .subtitle {
      margin-bottom: $default-margin;
    }
  }
}
.spell-filters {
  @extend %card;
  margin-top: $grid-padding * 2;
  ul {
    list-style: none;
    margin-left: 0;
  }
  li {
    margin-bottom: 8px;
  }
  input {
    margin: 0;
  }
  label {
    padding: 1px 0 0 4px;
  }
  input, label {
    cursor: pointer;
  }
}
