#spellbook {
  display: flex;
  .container {
    align-items: flex-start;
  }
}
.spells {
  padding-top: $grid-padding * 2;
  .card {
    margin-bottom: $grid-padding * 2;
    .title {
      margin-bottom: 0;
    }
    .subtitle {
      margin-bottom: $default-margin;
    }
  }
}
.spell-filters {
  @extend %card;
  margin-top: $grid-padding * 2;
  & > div {
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    margin-left: 0;
  }
  li {
    margin-bottom: 8px;
  }
  input {
    margin: 0;
  }
  label {
    padding: 1px 0 0 4px;
  }
  input, label {
    cursor: pointer;
  }
  input[type=text] {
    padding-right: 24px;
  }
  button {
    width: 24px;
    min-width: 24px;
    height: 24px;
    padding: 4px;
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    right: 0;
    top: 0;
    svg {
      width: 100%;
      height: 100%;
      fill: $text-color;
    }
  }
}
