@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@function rem($pixels, $context: 16px) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@function em($pixels, $context: 16px) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
};

$text-color: #333;
$text-color-light: #999;

$player: blue;
$playerLight: lighten($player, 50%);
$creature: red;
$creatureLight: lighten($creature, 50%);
$npc: gold;
$npcLight: lighten($npc, 50%);

$primary: #455a64;
$primary-light: #718792;
$primary-dark: #1c313a;

$secondary: #3d5afe;
$secondary-light: #8187ff;
$secondary-dark: #0031ca;

$border-color: #ddd;
$border-radius: 5px;
$shadow-0: 0 2px 4px rgba(#000, 0.2);
$shadow-1: 0 3px 6px rgba(#000, 0.2);
$shadow-2: 0 6px 12px rgba(#000, 0.2);
$shadow-3: 0 12px 24px rgba(#000, 0.2);

$heading-font: 'Roboto', sans-serif;
$text-font: 'Roboto', sans-serif;
$font: 'Roboto', sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

$default-margin: 12px;
$button-padding: 8px;
$border-radius: 2px;
$input-padding: 0;
$input-border-radius: 0;
$input-margin: 12px;
$menu-height: 80px;
$header-padding: 50px;
$section-padding: 50px;
$row-padding: 8px;
$grid-padding: 8px;
$card-padding: 24px;

// Grid size and break points
$xs-break: 0px;
$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1200px;
$sizes: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

$breaks: (
  xs: $xs-break,
  sm: $sm-break,
  md: $md-break,
  lg: $lg-break,
  xl: $xl-break
);
$breaks-alt: (
  xs: $sm-break - 1px,
  sm: $md-break - 1px,
  md: $lg-break - 1px,
  lg: $xl-break - 1px,
);

@mixin media-breakpoint-up($name) {
  @media (min-width: map-get($breaks, $name)) {
    @content;
  }
}
@mixin media-breakpoint-down($name) {
  @media (max-width: map-get($breaks-alt, $name)) {
    @content;
  }
}

@mixin overlay($color: rgba(#000, 0.3)) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color;
  }
  & > * {
    position: relative;
    z-index: 2;
  }
}
